/* Si deseas personalizar el estilo del modal */
.modal-content {
    border-radius: 10px;
  }

  .modal-header {
    border-bottom: 2px solid #ddd;
  }

  .modal-body {
    background-color: #f9f9f9;
  }
